/* 1em = 16px = 1rem

*/


/*************Selector*************/

a {
    color: #9ddfd3;
}

a:hover {
    color: aliceblue;
}

body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 100%;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    font-weight: normal;
    line-height: 2;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 45%;
}

img {}

span {
    text-decoration: underline;
}

p {
    font-size: 0.75rem;
    font-weight: 800;
}


/*************SelectorClass*************/

.btn {
    position: relative;
    background: #11999e;
    background-image: -webkit-linear-gradient(top, #11999e, #16aeb3);
    background-image: -moz-linear-gradient(top, #11999e, #16aeb3);
    background-image: -ms-linear-gradient(top, #11999e, #16aeb3);
    background-image: -o-linear-gradient(top, #11999e, #16aeb3);
    background-image: linear-gradient(to bottom, #11999e, #16aeb3);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 50px;
}

.btn:hover {
    background: #14c6cc;
    background-image: -webkit-linear-gradient(top, #14c6cc, #21e5e8);
    background-image: -moz-linear-gradient(top, #14c6cc, #21e5e8);
    background-image: -ms-linear-gradient(top, #14c6cc, #21e5e8);
    background-image: -o-linear-gradient(top, #14c6cc, #21e5e8);
    background-image: linear-gradient(to bottom, #14c6cc, #21e5e8);
    text-decoration: none;
}

.bottom-container {
    background-color: #11999e;
    margin-top: 10px;
    padding-top: 50px;
    position: absolute;
    width: 100%;
}

.bottomcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.code {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me {
    color: #11999e
}

.computer {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.co {
    margin-top: 20px;
    font-size: 130%;
    font-weight: 800;
}

.endingwords {
    margin: 10px;
}

.footer-link {
    padding: 10px;
    font-size: 120%;
}

.introduce {
    font-size: 1rem;
    font-weight: 800px;
}

.top {
    position: relative;
    padding-top: 100px;
    width: 100%;
}

.idpic {
    border-radius: 100px;
}

.middle-container {
    margin: 50px auto 50px auto;
    height: auto;
}

.mountain {
    margin: 0px;
}

.topcloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top {
    background-color: #9ddfd3;
}

.skills {
    overflow: auto;
}

.skill-row {
    text-align: left;
    line-height: 2;
    margin: 100px auto 50px auto;
    overflow: auto;
    width: 50%;
}