/* 1em = 16px

*/


/*************Selector*************/

body {
    background-color: #9ddfd3;
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 2em;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    margin-top: 0px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

img {}


/*************SelectorClass*************/

.top {
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.bottomcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.idpic {
    border-radius: 100px;
}

.mountain {}

.topcloud {
    position: absolute;
    right: 300px;
    top: 50px;
}