/* 1em = 16px = 1rem

*/


/*************Selector*************/

body {
    background-color: #9ddfd3;
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 200%;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    font-weight: normal;
    line-height: 2;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

img {}

span {
    text-decoration: underline;
}


/*************SelectorClass*************/

.top {
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.bottomcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.idpic {
    border-radius: 100px;
}

.mountain {}

.topcloud {
    position: absolute;
    right: 300px;
    top: 50px;
}